.header {
  width: 100vw;
  height: 6rem;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  color:rgb(255, 25, 9);
  background-color: rgb(29, 29, 116);
}

.header--light{
  background-color: rgb(238, 32, 32);
  color: rgb(0, 0, 0);
  border-bottom: 3px solid black;
}

.header__logo--light{
  color:rgb(0, 0, 0)
}