.my-button {
  background-color: transparent ;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  align-self: center;;
  font-size: 1rem;
  margin: 0.5rem;
  color:white
  
}

.my-button:hover,
.my-button:active {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color:black
}